---
import '../styles/global.scss';
import { SiteTitle } from '../consts';
---

<header>
	<nav>
		<h2 id="site_title">
			<a href="/">
<svg version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 388 370" width="32px">
	<title>Sidebar Logo-svg</title>
	<defs>
		<linearGradient id="g1" x2="1" gradientUnits="userSpaceOnUse" gradientTransform="matrix(601,720,-800.422,668.13,173.5,58.5)">
			<stop offset="0" stop-color="#2463eb"/>
			<stop offset="1" stop-color="#020f12"/>
		</linearGradient>
	</defs>
	<style>
		.s0 { fill: url(#g1) } 
	</style>
	<path class="s0" d="m207.6 0l-207.6 369.5 73.5-33 134.1-239.6 96.9 170.7h-79.1l-99.8 45.8 262.2 0.3z"/>
</svg>
				{SiteTitle}
			</a>
		</h2>
	</nav>
</header>

<style>
	.links a {
		text-decoration: none;
	}
</style>
